.personal {
  background-color: #560F0F;

}
.Academic {
  background-color: #281B1B;

}
.professional{
  background-color: #8A6A6A;

}
.Experience {
  background-color: #B92424;

}
.Skills {
  background-color: #5B2727;
}
